body {
    background-image: url('../assets/prism.png');
    background-repeat: repeat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}

:root {
    --quote-container-width: 450px;
    --quote-container-height: 450px;
}

.actions {
    width: var(--quote-container-width);
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

.actions button {
    appearance: none;
    border: 0;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.8);
}

.actions button:hover {
    background: rgba(255, 255, 255, 1);
}

.quote {
    width: var(--quote-container-width);
    height: var(--quote-container-height);
    color: white;
    margin: 2rem 0;
    padding: 3rem;
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    /* background-color: #46458c; */
    background: linear-gradient(135deg, #E55D87 0%, #5FC3E4 100%);
    border-radius: 8px;
    font-weight: bolder;
}

.content::before {
    content: "“";
    color: rgba(255,255,255,0.3);
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -.4em;
}

.quote {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

.quote::first-letter {
    color: orange;
    font-weight: bold;
}

.author {
    display: inline-block;
    text-transform: capitalize;
    color: #eee;
    font-weight: normal;
    text-align: right;
    font-size: 1.5rem;
}